html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    line-height: 1.4;
    font-family: "Parkinsans", sans-serif;
}

/* Alles header-----------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    align-items: center;

    .logo{
        display: none;

        @media (min-width: 768px) {
            display: block;
            padding: 20px;
            margin-bottom: -20px;
        }
    }

    .logo-small{
        display: flex;
        padding: 20px;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .create-your-list{
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }
    }

    .create-your-list-small{
        display: flex;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .profile{
        display: flex;
    }

    .icons{
        display: flex;
        padding: 20px;
        align-content: center;
    }
}
/* ----------------------------------------- */
/* main-------------------------------------- */
main{
    background-color: var(--secondary-background-color);
    position: relative;
    margin-top: 3em;
    padding-bottom: 1rem;

    @media(min-width:1024px){
        margin-top: 1em;
        
    }

    h1{
        text-align: center;
        font-size: var(--font-size-heading);
        background-color: var(--primary-background-color);

        @media (min-width: 768px){
            font-size: var(--font-size-tite);
        }
    }
}
.background-grid{
    display: flex;
    background-color: var(--secondary-background-color);
}

/* ai button -------------------------------*/
.ai-button{
    position:fixed;
    right: 10px;
    bottom: 10px;
    z-index:10;
    width:8em;
    aspect-ratio:1;
    border-radius:50%;

    appearance: none;
    border:none;

    background-image: 
        radial-gradient(
            closest-side circle,
            white calc(100% - .225em),
            transparent 0
        ),
        conic-gradient(
            red,
            orange,
            gold,
            yellowgreen,
            dodgerblue,
            purple,
            red
        );

    font-size:1em;
    color: var(--primary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    cursor:pointer;
    font-weight: bold;

    @media(min-width: 1024px){
        display: none;
    }

}

.secondary-search-bg{
    display: none;
    background-color: var(--primary-background-color);

    @media(min-width:1024px){
        display: inherit;
    }
}


/* ----------------------------------------- */

.tie{
    position: absolute;
    top: -49px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
        position: absolute;
        top: -72px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tie svg{
    height: 50px;

    @media (min-width: 768px) {
        height: 100%;
    }
}

/*filter-----------------------------------------*/
.filtra {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px;
}

.filtra-content {
  display: none;
  position: absolute;
  background-color: var(--user-chat-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
}

/* ---------------------------------------------------------------------------------- */

.top-grid{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    align-items: center;
}

.users{
    display: none;

    @media (min-width: 768px) {
        display: block;
        margin-right: 50px;
        height: 75px;
    }
}

.background-grid{
    display: grid;
    background-color: var(--primary-background-color);
    grid-template-rows: repeat(1fr);
    justify-content: center;
    border-top: 5px solid var(--primary-color);


}

.uncle{
    color: var(--primary-color);
}


/* product -------------------------------------- */
.product-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-inline: 10px;
    justify-items: center;
    background-color: var(--primary-background-color);
    padding-bottom: 1em;
    padding-top: 1em;

    @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1770px) {
    grid-template-columns: repeat(5, 1fr);
    }

}

/* Alles van de footer */
footer{
    background-color: var(--secondary-color);

    form{
        background-color: var(--primary-color);
        color: var(--secondary-background-color);
        justify-content: center;   
        text-align: center; 

        p:first-of-type{
            font-weight: var(--font-weight-heading);
            margin-top: 10px;
        }

        p{
            margin: auto;
        }

        @media(min-width:768px){
            display: flex;

            .footer-email-text{
                text-align: start;
            }
        }
    
    }
    .primary-color-bg {
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        padding: 0.4em;
        border-radius: 5px;
        position: relative;
    }

    .primary-bg-search {
        background-color: var(--primary-background-color);
        color: var(--secondary-color);
        border: none;
        width: 100%;
    }
    .primary-text {
        height: 45px;
        width: 100%;
    }
    .primary-color-bg:focus-visible {
        outline: var(--primary-color) 3px solid;
    }

    .send-button {
        position: absolute;
        right: 0.8em;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
        cursor: pointer;
    }

    .send-button svg {
        fill: var(--secondary-background-color);
    }

    .send-button:hover {
        background-color: var(--primary-background-color);
        fill: var(--secondary-color);
    }
    .send-button:focus-visible {
        outline: var(--primary-color) 3px solid;
    }
    .button {
        border-radius: 50%;
        aspect-ratio: 1;
        border: none;
        fill: var(--secondary-background-color);
        background-color: var(--secondary-color);

        @media (prefers-reduced-motion: no-preference) {
        transition: 0.2s ease-out;
        }

        &:hover {
        background-color: var(--primary-background-color);
        fill: var(--secondary-color);
        }

        &:active {
        background-color: var(--primary-color);
        fill: var(--secondary-color);
        }
    }

}

.footer-middle {
    display: grid;
    color: var(--secondary-background-color);

    @media (max-width: 1023px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    }
}

.contact-us{
    Display:flex;
    flex-direction: column;
}

.location{
    display: flex;
}

.email{
    display: flex;
}

  .button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    fill: var(--secondary-background);
    background-color: var(--secondary-color);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background);
      fill: var(--secondary-color);
    }

    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }

    &:active {
      background-color: var(--primary-color);
      fill: var(--secondary-color);
    }
  }

.footer-middle-phone{
    display: grid;
    color: var(--secondary-background-color);
    gap: 10px;
    margin-left: 8px;
    /* grid-template-columns: 1fr 1fr; */

    @media (min-width: 1024px) {
        display: none;
    }
}

footer ul{
    list-style-type: none;
}

footer li{
    margin-block-start: 0.5em;
}

footer svg{
    margin-left: 8px;
}

footer a{
    color: var(--secondary-background-color);
    text-decoration: none;
}


.footer-bottom, .footer-bottom a{
    display: flex;
    color: var(--secondary-text-color);
    justify-content: space-evenly;
}

.contact-us li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: -1em;
} 