html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    line-height: 1.4;
    font-family: "Parkinsans", sans-serif;
}

/* Alles header-----------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

header img{
    max-width: 100%;
    height: 80px;
}

.logo{
    display: none;

    @media (min-width: 768px) {
        display: block;
        max-width: 200px;
        padding: 20px;
    }
}

.logo-small{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

    @media (min-width: 768px) {
        display: none;
    }
}

.create-your-list{
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.create-your-list-small{
    display: flex;

    @media (min-width: 768px) {
        display: none;
    }
}

.icons{
    display: flex;
    max-height: 100px;
    padding: 20px;
}
/* ----------------------------------------- */
/* main-------------------------------------- */
main{
    background-color: var(--primary-background-color);
    border-top: 5px solid var(--primary-color);
    position: relative;
    margin-top: 3em;

    h1{
        text-align: center;
        font-size: var(--font-size-h3);

        @media (min-width: 768px){
            font-size: var(--font-size-h1);
        }
    }
}
.background-grid{
    display: flex;
    background-color: var(--primary-background-color);
}

/* ai button -------------------------------*/
.ai-button{
    position:fixed;
    right: 10px;
    bottom: 10px;
    z-index:10;
    width:8em;
    aspect-ratio:1;
    border-radius:50%;
    /* background-color: red; */

    /* border:solid .225em #E0B000; */
    /* border:solid .225em transparent; */
    appearance: none;
    border:none;

    background-image: 
        radial-gradient(
            closest-side circle,
            white calc(100% - .225em),
            transparent 0
        ),
        conic-gradient(
            red,
            orange,
            gold,
            yellowgreen,
            dodgerblue,
            purple,
            red
        );

    font-size:1em;
    color: var(--primary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    cursor:pointer;
    font-weight: bold;

    
}
/* ----------------------------------------- */

.tie{
    position: absolute;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
        position: absolute;
        top: -78px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tie svg{
    height: 50px;

    @media (min-width: 768px) {
        height: 100%;
    }
}

/*filter-----------------------------------------*/
.filtra {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px;
}

.filtra-content {
  display: none;
  position: absolute;
  background-color: var(--user-chat-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
}

/* ---------------------------------------------------------------------------------- */
.top-grid{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.users{
    display: none;

    @media (min-width: 768px) {
        display: block;
        margin-right: 50px;
        height: 50px;
    }
}

.background-grid{
    display: grid;
    grid-template-rows: repeat(1fr);
}

.uncle{
    color: var(--primary-color);
}


/* product -------------------------------------- */
.product-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-inline: 10px;
    justify-items: center;

    @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    }

    @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1770px) {
    grid-template-columns: repeat(5, 1fr);
    }

}

.article-product{
    position: relative;
    background-color: var(--secondary-background-color);
    width: 300px;
    height: 400px;
    padding: 4px 4px 0px 4px;
    cursor: pointer;

    &:hover {
        translate: 0 -1px;
    }

    .article-product-img{
        img{
            width: 300px;
            aspect-ratio: 1/0.9;
            object-fit: cover;
        }

        .article-add-list{
            position: absolute ;
            top: 10px;
            right: 10px;
            background: transparent;
            cursor: pointer;
            height: 75px;
            width: 75px;
            border: none;
            z-index: 1;
            display: block;

            border-radius:50%;

            &:hover{
                background-color: var(--primary-color);
            }
        }

        .article-tags{
            position: absolute;
            bottom: 138px;
            left: 10px;
            flex-wrap: wrap;
        }

        .article-tag-timeless{
            background: var(--timeless-label-color);
            color: var(--secondary-background);
            font-size: 12px;
            padding: 3px 8px;
        }

        .article-tag-sustainable{
            background: var(--sustainable-label-color);
            color: var(--secondary-background);
            font-size: 12px;
            padding: 3px 8px;
        }

        .article-tag-experience{
            background: var(--experience-label-color);
            color: var(--secondary-background);
            font-size: 12px;
            padding: 3px 8px;
        }

        .article-tag-digital{
            background: var(--digital-label-color);
            color: var(--secondary-background);
            font-size: 12px;
            padding: 3px 8px;
        } 
    }

    p{        
        &:hover{
            text-decoration-line: underline;
        }
    }
    
    .article-statistics{
        display: flex;
        justify-content:space-between;
        align-items: center;

        svg{
            max-height: 40px;
            width:auto;
        }

        span:nth-of-type(1) {
            margin-right:auto;
        }

    }
}

/* Alles van de footer */
footer{
    background-color: var(--secondary-color);
}

.footer-gifts{
    background: var(--primary-color);
    color: var(--secondary-background-color);
    display: block;
    padding: 2px;


    @media (min-width: 1024) {
        display: flex;
    }
}

.footer-middle {
    display: grid;
    color: var(--secondary-background-color);

    @media (max-width: 1023px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    }
}

.contact-us{
    Display:flex;
    flex-direction: column;
}

.location{
    display: flex;
}

.email{
    display: flex;
}

  .button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    fill: var(--secondary-background);
    background-color: var(--secondary-color);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background);
      fill: var(--secondary-color);
    }

    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }

    &:active {
      background-color: var(--primary-color);
      fill: var(--secondary-color);
    }
  }

.footer-middle-phone{
    display: grid;
    color: var(--secondary-background-color);
    gap: 10px;
    margin-left: 8px;
    /* grid-template-columns: 1fr 1fr; */

    @media (min-width: 1024px) {
        display: none;
    }
}

footer ul{
    list-style-type: none;
}

footer li{
    margin-block-start: 0.5em;
}

footer svg{
    margin-left: 8px;
}

footer a{
    color: var(--secondary-background-color);
}

footer input{
    border: 1px solid var(--secondary-color);
    border-radius: 24px;
    text-align: center;
}

.footer-links{
    color: var(--secondary-background-color);
}

.footer-bottom, .footer-bottom a{
    display: flex;
    color: var(--secondary-text-color);
    justify-content: space-evenly;
}

.footer-bottom p{
    margin-bottom: 10px;
}

.contact-us li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: -1em;
}